<div class="d-flex justify-content-center">
    <h2>
        <%= @fieldset["name"]+"' List of Fields:" %>
    </h2>
</div>

<div class="d-flex justify-content-center">
    <div class="field-list">
        <% @fieldset["values"].each do |each|%>
            <div class="form-check inline">
                <input type="checkbox" class="form-check-input" id= <%= each["fieldKey"]%> >
                <label class="form-check-label" for="materialUnchecked"><%= each["fieldKey"]%></label>
            </div>
        <%end%>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="form-group justify-content-center">
        <label for="sel1">Select Data Time-Range:</label>
        <select class="form-control" id="sel1">
            <option>12h</option>
            <option>1d</option>
            <option>1w</option>
            <option>1m</option>
            <option>1y</option>
        </select>
    </div>
</div>

<div class="col-md-12 text-center">
    <%= link_to 'Get visualization', home_visualize_path(:measurement => @fieldset["name"]), remote: true, id: "queryrun", class: "btn btn-primary"%>
</div>
