<% if @response.length != 0 %>
    <%= high_chart_globals(@chart_globals) %>
    <%= high_chart("some_id", @chart) %>
<% else %>
    <div class="text-center">
        <p>
            <h5> Data can't be found for the specified time range</h5>
            <h5> Please try another time range </h5>
        </p>
    </div>
<% end %>
