<% if @response.length != 0 %>
    <div class="d-flex">
        <div class="d-flex justify-content-around">
            <%= high_chart_globals(@chart_globals) %>
            <%= high_chart("some_id", @chart) %>
        </div>
        <div class="d-flex justify-content-around">
            <div class="col-md-12 stext-center">
                <%= link_to 'Get Forecast for Next Week', home_forecast_path, remote: true, id: "dataforecast", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% else %>
    <div class="text-center">
        <p>
            <h5> Data can't be found for the specified time range</h5>
            <h5> Please try another time range </h5>
        </p>
    </div>
<% end %>
