<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hey!!</title>
</head>
<body>
  <h3>Alert <%= @alert_name %> for <%=  @topic %> invoked! Please check!</h3>
</body>
</html>