<!-- Image and text -->
<nav class="ui menu">
  <a class="ui menu item d-flex align-items-center" href="/">
    <img src="<%= image_url('floodgate.png') %>" alt="" height="40">
    <h2 class="ui header mt-0">Floodgate</h2>
  </a>
</nav>
