<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid row justify-content-center mr-1">
  <a class="navbar-brand" href="#">
    <img src="<%= image_url('floodgate.png') %>" alt="" height="40">
    Floodgate
  </a>
  </div>
</nav>
